<!DOCTYPE html>
<html lang="en">

    <head>
        <title>NASA Picture of the Day</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="initial-scale=1.0">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.6.10/vue.min.js"></script>
        <script src="https://unpkg.com/vue-router/dist/vue-router.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.18.0/axios.min.js"></script>
        <script src="scripts.js"></script>

        <!--In Graciela's test page only the style.css file was being used, so I removed the others.-->
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="css/styles.css">
    </head>
    <body>
        <div id="app">
            <template>
                <h1>NASA - Picture of the Day</h1>
                <section v-if="!info">
                    <p>This didn't run anything.</p>
                </section>
                <section v-if="errored">
                    <p>We're sorry, we're not able to retrieve this information at the moment, please try back later</p>
                </section>
                <section v-if="info">
                    <h2 id="date"><strong>Date: {{ info.data.date }}</strong></h2>
                    <p id="explanation">{{ info.data.explanation }}</p>
                    <p><a v-bind:href="info.data.hdurl" target="blank">HD Image</a></p>
                    <figure>
                        <img id="image" v-bind:src="info.data.url" v-bind:alt="info.data.title" width="100%">
                        <figcaption id="author">Copyright: {{ info.data.copyright }}</figcaption>
                    </figure>
                    <h2 id="title">{{ info.data.title }}</h2>
                    <!-- Raw API data, uncomment to show -->
                    <!-- <pre>{{ info }}</pre> -->
                </section>
            </template>
            <ul>
                <li><a href="?date=2021-01-01">January 1, 2021</a></li>
                <li><a href="?date=2016-01-01">January 1, 2016</a></li>
                <li><a href="?date=2011-01-01">January 1, 2011</a></li>
            </ul>
            <p>Visit <a href="https://www.nasa.gov/">NASA</a> Online</p>
        </div>

        <!--Vue Script-->
        <script>
            var router = new VueRouter({
                mode: 'history',
                routes: []
            });
            new Vue({
                el: '#app',
                router,
                data() {
                    return {
                        info: null,
                        loading: true,
                        errored: false
                    }
                },
                mounted() {
                    axios
                        .get("https://api.nasa.gov/planetary/apod?api_key=dJvbzNnl8WxP1e1amwx0t2zIb39aCZOciWlgdzG4&date=" + this.$route.query.date)
                        .then(response => {
                            this.info = response
                            console.log(response)
                        })
                        .catch(error => {
                            console.log(error)
                            this.errored = true
                        })
                        .finally(() => this.loading = false)
                }
            })
        </script>
    </body>

</html>